:root {
  --main-text-font: roboto;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
  --secondary-accent-color: #2f303a;
  --white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --header-border-color: #ececec;
  --project-item-border: #EEEEEE;
  --logo-font: raleway;
}

body {
  font-family: var(--main-text-font), sans-serif;
  color: var(--main-text-color);
}

ul {
  display: inline-block;
  margin: 0;
  padding-left: 0;
}

.section {
  padding: 94px 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.item {
  display: inline-block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  display: block;
  padding: 24px 0;
  border-bottom: 1px solid var(--header-border-color);
}

/* ----------------!!!INDEX.HTML!!!---------------- */

.logo {
  font-family: var(--logo-font), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-second-part {
  color: var(--main-text-color);
}

.header-menu {
  vertical-align: middle;
}

.nav-main {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 93px;
  display: inline-block;
}

.nav-main .link {
  color: var(--main-text-color);
}

.nav-main .item:nth-child(n + 2) {
  margin-left: 50px;
}

.nav-main .link:focus,
.nav-main .link:hover {
  color: var(--accent-color);
}

.mail,
.telephone {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.telephone {
  margin-left: 50px;
}

.mail:focus,
.mail:hover,
.telephone:focus,
.telephone:hover {
  color: var(--accent-color);
}

/* !!! MAIN SECTION!!!! */

.hero {
  background-color: var(--secondary-accent-color);
  text-align: center;
}

.hero-heading {
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--white-color);
  width: 696px;
  margin: 0 auto;
  margin-top: 106px;
}

.hero-button {
  font-family: var(--main-text-font), sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  margin-top: 30px;
  margin-bottom: 106px;
  width: 216px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  padding: 10px 0;
}

.hero-button:focus,
.hero-button:hover {
  cursor: pointer;
  background-color: var(--button-hover-color);
}

/* !!!!!!! ADVANTAGE SECTION!!!!!!!! */

.advantage .list {
  display: flex;
  justify-content: space-between;
}

.advantage .item:nth-child(n + 2) {
  margin-left: 30px;
}

.advantage-titles {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* !!!!!!!!ABOUT SECTION!!!!!!!!!!! */

.about-heading {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0 auto;
  margin-bottom: 50px;
}

.about .container {
  flex-wrap: wrap;
}

.about .item:nth-child(n + 2) {
  margin-left: 30px;
}

/* !!!!!!!!!TEAM SECTION!!!!!!!!! */

.team .container {
  flex-wrap: wrap;
}

.team {
  background-color: var(--secondary-background-color);
}

.team .item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .item:nth-child(n + 2) {
  margin-left: 30px;
}

.team-heading {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0 auto;
  margin-bottom: 50px;
}

.team-names {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  text-align: center;
  letter-spacing: 0.03em;
}

/* !!!!!FOOTER!!!!!! */

.footer {
  background-color: var(--secondary-accent-color);
  color: var(--white-color);
  padding: 60px 0;
}

.footer .container {
  display: block;
}

.footer .item {
  display: block;
}

.footer .logo-second-part {
  color: var(--white-color);
}

.map-pointer {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  display: block;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer .mail {
  margin-bottom: 9px;
}

.footer .mail,
.footer .telephone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  font-style: normal;
  display: block;
  margin-left: 0;
}

.footer .mail:focus,
.footer .mail:hover,
.footer .telephone:focus,
.footer .telephone:hover,
.map-pointer:hover,
.map-pointer:focus {
  color: var(--accent-color);
}

/* ----------------!!!PORTFOLIO.HTML!!!------------------ */

/* FILTER SECTION */

.filter {
  margin: 0 auto;
  display: block;
  width: 586px;
  margin-bottom: 50px;
}
.filter-button {
  font-family: var(--main-text-font), sans-serif;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  background-color: var(--secondary-background-color);
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}



.filter .item:nth-child(n+2){
  padding-left: 8px;
}

.filter-button:focus,
.filter-button:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}

/* PROJECT SECTION */

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.project-list .item {
  border: 1px solid var(--project-item-border);
  flex-basis: calc((100% - 60px) / 3)

}

.project-image {
  width: 100%;
}

.project-name {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-left: 24px;
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-left: 24px;
}

.current.link {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
